<br/>
<div class="columns is-6 is-centered has-text-centered">
    <div class="column is-6">
    <h4 class="has-text-left"><i class="fas fa-chevron-left"></i>  <%= link_to 'Back', impacts_path %> | <%= link_to 'Show', @impact %> </h4>
    <br/>
    <h2 class="has-text-left">Editing Impact</h2>
     <%= render 'form', impact: @impact %>
    </div>
</div>
