<section class="section">
    <div class="container">
        <div class="columns">
            <%= render 'content' %>
            <%= render 'followinglist' %>
        </div>
    </div>
</section>

